@using Business.Models
@model List<MalzemeModel>

<h2>Malzemeler</h2>
<br />

<p>
    <a href="/Malzemeler/OlusturGetir">Yeni Malzeme</a>
</p>

@if (Model != null && Model.Count > 0)
{
    <p class="bg-info text-black">
        @Model.Count kayıt bulundu
    </p>
}
else
{
    <p class="bg-warning text-black">
        Kayıt bulunamadı
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Adı
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (MalzemeModel malzeme in Model)
            {
                <tr>
                    <td>
                        @malzeme.Adi
                    </td>
                    <td style="text-align: right;">
                        <a href="/Malzemeler/Edit/@malzeme.Id">Düzenle</a>&nbsp;|&nbsp;
                        <a href="/Malzemeler/Delete/@malzeme.Id">Sil</a>&nbsp;|&nbsp;
                        <a href="/Malzemeler/Details/@malzeme.Id">Detay</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@* Malzemeler controller'ının Edit post ve Delete get action'larında TempData["Success"] set ediliyor ve burada kullanılıyor. BUNU ETİCARET PROJESİNDE GÖRDÜM BURAYADA EKLEDİM*@
@if (TempData["Success"] != null)
{
    <p class="bg-success text-white">
        @TempData["Success"]
    </p>
}

@* Malzemeler controller'ının Delete get action'ında TempData["Error"] set ediliyor ve burada kullanılıyor. BUNUDA*@
@if (TempData["Error"] != null)
{
    <p class="bg-danger text-white">
        @TempData["Error"]
    </p>
}