@using Business.Models
@model YemekTarifiModel

@{
    ViewData["Title"] = "Tarifi Sil";
}

<h1>@ViewData["Title"]</h1>

<h3>Bu yemek tarifini silmek istediğinize emin misiniz?</h3>
<div>
    <partial name="_Details" model="Model" />
</div>
