@using Business.Models
@model RolModel

@{
    ViewData["Title"] = "Rol Düzenle";
}

<h1>@ViewData["Title"]</h1>

<partial name="_CreateEdit" model="Model" />

<div class="row">
    <div class="col-12">
        <div class="row mb-3">
            <div class="offset-2 col-5">
                <a href="#" onclick="rolSil(@Model.Id);">Sil</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* https://alertifyjs.com/ *@
    <link href="~/lib/AlertifyJS/css/alertify.min.css" rel="stylesheet" />
    <script src="~/lib/AlertifyJS/alertify.min.js"></script>

    <script>
        function rolSil(id) {
            alertify.confirm("Uyarı!",
                "Bu rolü silmek istediğinize emin misiniz?",
                function () { // OK
                    //alertify.success("Silme başarılı.");
                    window.location.href = "/Roller/Delete/" + id;
                },
                function () { // Cancel
                    //alertify.error("Silme iptal edildi.");
                }
            ).set('labels', { ok: 'Evet', cancel: 'Hayır' });
        }
    </script>
}