@using Business.Models
@model List<RolModel>

<p>
    <a asp-action="Create"><i class="fas fa-plus"></i> Yeni Rol</a>
</p>

@if (!(Model == null || Model.Count == 0))
{
    <div style="overflow-y: auto; height: 450px; border-style: solid; border-width: 1px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Adi)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adi)
                            </td>
                            <td style="text-align: right;">
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-lg fa-info-circle"></i> Detay</a>&nbsp;|&nbsp;
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-lg fa-pen-square"></i> Düzenle</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
